* {
  font-family: helvetica;
}

a {
  margin: 0;
  padding: 0;
}
a:hover {
  color: #494949;
}

h1, h2, h3, h4, h5, h6 {
  color: #060a0f;
}

p {
  color: #494949;
}

.tSlow, .rounded-circle, nav ul li a:after, nav ul li a:before, nav ul li a, nav .logo img, nav, .black, button, input,
select,
option,
textarea, a {
  transition: all 0.5s ease-in-out;
}

.pad_100 {
  padding: 100px 0;
}

.center {
  text-align: center;
  margin: 0px auto;
}

.main-titles {
  font-size: 30px;
  font-weight: bold;
  padding: 15px 0px;
}

input,
select,
option,
textarea {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #060a0f;
  margin: 5px 0px;
  opacity: 0.5;
}
input:hover, input:focus,
select:hover,
select:focus,
option:hover,
option:focus,
textarea:hover,
textarea:focus {
  opacity: 1;
  color: #060a0f;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 250px;
}

button {
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #060a0f;
  padding: 9px 13px;
  margin: 5px 0px;
  color: #060a0f;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.7;
}
button:hover {
  background-color: #060a0f;
  color: white;
  opacity: 1;
}

.black {
  background-color: #060a0f;
  color: white;
  border: 1px solid #060a0f;
  opacity: 1;
}
.black:hover {
  background-color: #ff6500;
  border: 1px solid #ff6500;
  opacity: 1;
}

nav {
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  position: fixed;
  z-index: 100;
}
nav:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
nav:hover ul li a {
  color: #ff6500 !important;
}
nav .logo img {
  width: 80%;
}
nav ul {
  margin: 0px;
  margin-top: 8px;
  padding: 0px;
  text-align: right;
}
nav ul .link-active a {
  color: #060a0f !important;
}
nav ul .link-active a:after {
  width: 100%;
  background-color: #060a0f;
  @extends .tSlow;
}
nav ul li {
  display: inline-block;
  text-transform: uppercase;
}
nav ul li a {
  text-decoration: none;
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  padding: 0 10px;
}
nav ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 1px;
}
nav ul li a:after {
  content: "";
  position: absolute;
  width: 0%;
  top: 100%;
  right: 0;
  background-color: transparent;
  height: 1px;
}
nav ul li a:hover {
  text-decoration: none;
  color: #494949;
}
nav ul li a:hover:after {
  width: 100%;
  background-color: black;
}
nav ul li a:hover:before {
  width: 0%;
  background-color: black;
}

#slider {
  clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
  -o-clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
}

#slippry {
  position: relative;
}
#slippry h2, #slippry h3, #slippry h4, #slippry h5, #slippry h6, #slippry p, #slippry button {
  position: absolute;
}
#slippry h1 {
  position: absolute;
  color: white;
  opacity: 0.8;
}
#slippry p {
  width: 600px;
}
#slippry .white_bg {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
}
#slippry .left {
  left: 100px;
}
#slippry .right {
  right: 100px;
}
#slippry .top_100 {
  top: 100px;
}
#slippry .top_150 {
  top: 150px;
}
#slippry .top_200 {
  top: 200px;
}
#slippry .top_250 {
  top: 250px;
}
#slippry .top_325 {
  top: 325px;
}

.rounded-circle {
  width: 85%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -o-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.rounded-circle:hover {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  -o-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.informacion {
  padding: 10px 15px;
  text-align: justify;
}