///Variables de Colores 
$base: #060a0f
$sec: #494949
$outline: #ff6500
$text: transparentize($sec, 0.5)
//////////////////////////////////////////////
/////////////////////////////////////////////
/////////////////////// CONFIGURACIONES GENERALES ///////////////////////
//////////////////////////////////////////////
//////////////////////////////////////////////    
*
    font-family: helvetica
a 
    margin: 0
    padding: 0
    @extend.tSlow
    &:hover
        color: $sec
h1,h2,h3,h4,h5,h6 
    color: $base
p 
    color: $sec

.tSlow
    -webkit-transition: all 0.5s ease-in-out 
    -o-transition: all 0.5s ease-in-out
    transition: all 0.5s ease-in-out
.pad_100
    padding: 100px 0
.center
    text-align: center
    margin: 0px auto
.main-titles
    font-size: 40px
    font-weight: bold
    padding: 15px 0px

// Estilos para input,select, option, text area
/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
///////////ESTILOS INPUTS, SELECT, OPTION, TEXTAREA/////////
///////////////////////////////////////////////////////// 
////////////////////////////////////////////////////////
input,
select, 
option,
textarea 
    width: 100%
    padding: 10px 15px
    border: 1px solid $base
    margin: 5px 0px
    opacity: .5
    @extend .tSlow 
    &:hover,
    &:focus 
        opacity: 1
        color: $base
textarea 
    min-width: 100% 
    max-width:  100%
    min-height: 150px
    max-height: 250px
button 
    background-color: transparent 
    text-transform: uppercase
    border: 1px solid $base
    padding: 9px 13px
    margin: 5px 0px
    color: $base
    font-size: 14px
    letter-spacing: 1px
    cursor: pointer
    opacity: .7
    @extend .tSlow
    &:hover
        background-color: $base
        color: white
        opacity: 1
.black
    background-color: $base
    color: white
    border: 1px solid $base
    opacity: 1
    @extend .tSlow
    &:hover
        background-color: $outline
        border: 1px solid $outline
        opacity: 1
/////////////////////////////////////
////////////////////////////////////
////ESTILOS BARRA DE NAVEGACION//////////
////////////////////////////////// 
/////////////////////////////////
.scroleo
    background-color: transparentize(white, 0.03) !important
    border-bottom: 1px solid transparentize(black, .8 ) !important
    .logo
        img 
            width: 60%
            @extend .tSlow
    .link-active
        a
            color: $outline !important
            &:after
                background-color: $outline !important
    ul 
        li 
            a 
                color: $text !important
nav
    padding: 10px 0
    width: 100%
    border-bottom: 1px solid transparent
    background-color: transparent
    position: fixed
    z-index: 100
    @extend .tSlow
    &:hover
        @extend .scroleo
    .logo
        img 
            width: 85%
            @extend .tSlow

    ul 
        margin: 0px
        margin-top: 8px
        padding: 0px
        text-align: right 
        .link-active
            a 
                color: $base
                &:after
                    width: 100%
                    background-color: $base
                    @extends .tSlow
        li 
            display: inline-block
            text-transform: uppercase
            a 
                text-decoration: none
                position: relative
                color: transparentize(white, 0.2)
                padding: 0 10px
                @extend.tSlow 
                &:before
                    content: ''  
                    position: absolute
                    width: 100%
                    top:0
                    left:0
                    background-color: transparent
                    height: 1px
                    @extend.tSlow 
                &:after 
                    content: ''  
                    position: absolute
                    width: 0%
                    top: 100%
                    right: 0
                    background-color: transparent
                    height: 1px
                    @extend.tSlow      
                &:hover 
                    text-decoration: none
                    color: $sec
                    &:after
                      width: 100%
                      background-color: black
                    &:before
                      width:0% 
                      background-color: black    

/////////////////////////////////////
////////////////////////////////////
///////////ESTILOS NAV PORTFOLIO//////////
////////////////////////////////// 
/////////////////////////////////
.dark
    .link-active
        a
            color: $outline
            &:after
              background-color: $outline  
    li 
        a 
            color: black
/////////////////////////////////////
////////////////////////////////////
///////////ESTILOS SLIDER SLIPPRY//////////
////////////////////////////////// 
/////////////////////////////////
#slider
    clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0% 100%, 0% 0%)
    -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0% 100%, 0% 0%)
    -o-clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0% 100%, 0% 0%)
#slippry
    position: relative
    h2,h3,h4,h5,h6,p,button
        position: absolute
    h1 
        position: absolute
        color: white
        opacity: 0.8
    p 
        width: 600px
    .white_bg
        background-color: transparentize(white, 0.8)
        padding: 5px 10px
    .left
        left:100px
    .right
        right: 100px
    .top_100
        top: 100px
    .top_150
        top: 150px
    .top_200
        top: 200px
    .top_250
        top: 250px
    .top_325
        top: 325px
/////////////////////////////////////
////////////////////////////////////
///////////ESTILOS SERVICIO////////
////////////////////////////////// 
/////////////////////////////////
.services
    width: 60%
    @extend .diamante_to_circle

.diamante
    width: 85%
    @extend .diamante_to_circle

.diamante_to_circle
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)
    -o-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)
    @extend .tSlow 
    &:hover
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
        -o-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)

.informacion
    padding: 10px 15px
    text-align: justify
/////////////////////////////////////
////////////////////////////////////
///////////ESTILOS PORTFOLIO//////////
////////////////////////////////// 
/////////////////////////////////
.grid
    width: 90%
    padding: 50px 0px
    margin-top: 70px
    margin-bottom: 400px
.grid-item
    width: 20%
    float: left
    overflow: hidden
    position: relative
    cursor: pointer
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)
    -o-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)
    margin-top: -9%
    @extend .tSlow
    &:before
      pointer-events: none  
    img 
        width: 100%
    &:nth-child(6),&:nth-child(15)
        margin-left: 10%
    &:hover
        &:before
            content:''
            position: absolute
            background-color: transparentize($outline, 0.7)
            background-image: url("../images/cross.png") 
            background-repeat: no-repeat
            background-size: 30%
            background-position: center center
            width: 100%
            height: 100%
/////////////////////////////////////
////////////////////////////////////
///////////estilos contactos//////////
////////////////////////////////// 
/////////////////////////////////            
#contacto
    width: 100%
    height: 100vh
    padding-top: 50px
    display: flex
    #mapa
        width: 66%
        height: 100vh
        background-image: url("../images/maps.jpg")
        background-position: center center
        background-size: cover
    #formulario
        width: 33%    
        height: 100vh
        padding: 10vh 3% 3% 3%


/////////////////////////////////////
////////////////////////////////////
///////////estilos footer//////////
////////////////////////////////// 
/////////////////////////////////
footer 
    color: $sec
    padding-top: 50px 
    background-color: $base
    clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%)
    -webkit-clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%)
    -o-clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%)
    p 
        margin: 2px 0
    .white
        color: white
        hr 
            background-color: white
            margin-top: 10px
            margin-bottom: 10px
    ul 
        padding: 0
        margin: 0
        li 
            display: block
            text-decoration: none
.fotos_footer
    display: flex 
    flex-wrap: wrap
.tumblr
    width: 20% 
    opacity: 0.3
    &:hover
        opacity: 1
.red-social
    position: relative
    li 
        width: 25px
        height: 25px
        margin: 0 15px
        float: left
        transform: rotate(0deg)       
        -webkit-transform: (0deg) 
        -o-transform: (0deg)
        backface-visibility: hidden
        cursor: pointer
        i
            transform: rotate(0deg)       
            -webkit-transform: (0deg) 
            -o-transform: (0deg)
            backface-visibility: hidden 
        @extend .tSlow
        &:hover
            padding: 0 5px
            transform: rotate(45deg)       
            -webkit-transform: (45deg) 
            -o-transform: (45deg)
            background-color: white
            backface-visibility: hidden 
            i
                transform: rotate(-45deg)       
                -webkit-transform: (-45deg) 
                -o-transform: (-45deg)
                backface-visibility: hidden 
.copy 
    a
        color: $outline
        text-decoration: none
        opacity: 0.6
        &:hover
            opacity: 1