* {
  font-family: helvetica;
}

a {
  margin: 0;
  padding: 0;
}
a:hover {
  color: #494949;
}

h1, h2, h3, h4, h5, h6 {
  color: #060a0f;
}

p {
  color: #494949;
}

.tSlow, .red-social li, .grid-item, .diamante_to_circle, .services, .diamante, nav ul li a:after, nav ul li a:before, nav ul li a, nav .logo img, nav, .scroleo .logo img, nav:hover .logo img, .black, button, input,
select,
option,
textarea, a {
  transition: all 0.5s ease-in-out;
}

.pad_100 {
  padding: 100px 0;
}

.center {
  text-align: center;
  margin: 0px auto;
}

.main-titles {
  font-size: 40px;
  font-weight: bold;
  padding: 15px 0px;
}

input,
select,
option,
textarea {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #060a0f;
  margin: 5px 0px;
  opacity: 0.5;
}
input:hover, input:focus,
select:hover,
select:focus,
option:hover,
option:focus,
textarea:hover,
textarea:focus {
  opacity: 1;
  color: #060a0f;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 250px;
}

button {
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #060a0f;
  padding: 9px 13px;
  margin: 5px 0px;
  color: #060a0f;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.7;
}
button:hover {
  background-color: #060a0f;
  color: white;
  opacity: 1;
}

.black {
  background-color: #060a0f;
  color: white;
  border: 1px solid #060a0f;
  opacity: 1;
}
.black:hover {
  background-color: #ff6500;
  border: 1px solid #ff6500;
  opacity: 1;
}

.scroleo, nav:hover {
  background-color: rgba(255, 255, 255, 0.97) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.scroleo .logo img, nav:hover .logo img {
  width: 60%;
}
.scroleo .link-active a, nav:hover .link-active a {
  color: #ff6500 !important;
}
.scroleo .link-active a:after, nav:hover .link-active a:after {
  background-color: #ff6500 !important;
}
.scroleo ul li a, nav:hover ul li a {
  color: rgba(73, 73, 73, 0.5) !important;
}

nav {
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  position: fixed;
  z-index: 100;
}
nav .logo img {
  width: 85%;
}
nav ul {
  margin: 0px;
  margin-top: 8px;
  padding: 0px;
  text-align: right;
}
nav ul .link-active a {
  color: #060a0f;
}
nav ul .link-active a:after {
  width: 100%;
  background-color: #060a0f;
  @extends .tSlow;
}
nav ul li {
  display: inline-block;
  text-transform: uppercase;
}
nav ul li a {
  text-decoration: none;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 10px;
}
nav ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 1px;
}
nav ul li a:after {
  content: "";
  position: absolute;
  width: 0%;
  top: 100%;
  right: 0;
  background-color: transparent;
  height: 1px;
}
nav ul li a:hover {
  text-decoration: none;
  color: #494949;
}
nav ul li a:hover:after {
  width: 100%;
  background-color: black;
}
nav ul li a:hover:before {
  width: 0%;
  background-color: black;
}

.dark .link-active a {
  color: #ff6500;
}
.dark .link-active a:after {
  background-color: #ff6500;
}
.dark li a {
  color: black;
}

#slider {
  clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
  -o-clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
}

#slippry {
  position: relative;
}
#slippry h2, #slippry h3, #slippry h4, #slippry h5, #slippry h6, #slippry p, #slippry button {
  position: absolute;
}
#slippry h1 {
  position: absolute;
  color: white;
  opacity: 0.8;
}
#slippry p {
  width: 600px;
}
#slippry .white_bg {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
}
#slippry .left {
  left: 100px;
}
#slippry .right {
  right: 100px;
}
#slippry .top_100 {
  top: 100px;
}
#slippry .top_150 {
  top: 150px;
}
#slippry .top_200 {
  top: 200px;
}
#slippry .top_250 {
  top: 250px;
}
#slippry .top_325 {
  top: 325px;
}

.services {
  width: 60%;
}

.diamante {
  width: 85%;
}

.diamante_to_circle, .services, .diamante {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -o-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.diamante_to_circle:hover, .services:hover, .diamante:hover {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  -o-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.informacion {
  padding: 10px 15px;
  text-align: justify;
}

.grid {
  width: 90%;
  padding: 50px 0px;
  margin-top: 70px;
  margin-bottom: 400px;
}

.grid-item {
  width: 20%;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -o-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin-top: -9%;
}
.grid-item:before {
  pointer-events: none;
}
.grid-item img {
  width: 100%;
}
.grid-item:nth-child(6), .grid-item:nth-child(15) {
  margin-left: 10%;
}
.grid-item:hover:before {
  content: "";
  position: absolute;
  background-color: rgba(255, 101, 0, 0.3);
  background-image: url("../images/cross.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center center;
  width: 100%;
  height: 100%;
}

#contacto {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  display: flex;
}
#contacto #mapa {
  width: 66%;
  height: 100vh;
  background-image: url("../images/maps.jpg");
  background-position: center center;
  background-size: cover;
}
#contacto #formulario {
  width: 33%;
  height: 100vh;
  padding: 10vh 3% 3% 3%;
}

footer {
  color: #494949;
  padding-top: 50px;
  background-color: #060a0f;
  clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
  -o-clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
}
footer p {
  margin: 2px 0;
}
footer .white {
  color: white;
}
footer .white hr {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer ul li {
  display: block;
  text-decoration: none;
}

.fotos_footer {
  display: flex;
  flex-wrap: wrap;
}

.tumblr {
  width: 20%;
  opacity: 0.3;
}
.tumblr:hover {
  opacity: 1;
}

.red-social {
  position: relative;
}
.red-social li {
  width: 25px;
  height: 25px;
  margin: 0 15px;
  float: left;
  transform: rotate(0deg);
  -webkit-transform: 0deg;
  -o-transform: 0deg;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
}
.red-social li i {
  transform: rotate(0deg);
  -webkit-transform: 0deg;
  -o-transform: 0deg;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.red-social li:hover {
  padding: 0 5px;
  transform: rotate(45deg);
  -webkit-transform: 45deg;
  -o-transform: 45deg;
  background-color: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.red-social li:hover i {
  transform: rotate(-45deg);
  -webkit-transform: -45deg;
  -o-transform: -45deg;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.copy a {
  color: #ff6500;
  text-decoration: none;
  opacity: 0.6;
}
.copy a:hover {
  opacity: 1;
}